* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.21)), url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    list-style-type: none;
    float: left;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;
}

.main {
    max-width: 2400px;
    margin: auto;
}

.title {
    position: absolute;
    top: 35%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: #fff;
    font-size: 85px;
}

.button {
    position: absolute;
    top: 45%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.6s ease;
}

.next {
    width: 145px;
    height: 150px;
    background-color: #c9c7c7;
    background-image: url('freccia.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    right: 30px;
    bottom: 100px;
}

.home {
    width: 180px;
    height: 150px;
    background-color: #07b2c9;
    background-image: url('home-97609_960_720.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    left: 30px;
    bottom: 100px;
}

.sezione {
    margin-left: 900px;
    margin-right: 350px;
    border: 2px solid rgb(3, 20, 112);
    margin-top: 450px;
    padding: 30px;
    background-color: rgb(134, 134, 134);
    font-size: 110%;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 110%;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 110%;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 85px;
    bottom: 100px;
    top: 35%;
    left: 0%;
}